.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  &__dialog {
    max-width: 500px;
    margin: 126px auto;
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: $base-third-color;
    border: 2px solid $base-color;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius:20px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: $base-color;
    opacity: 0.8;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    & >  strong {
      color: $base-color;
    }
  }

  &__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #FFF;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
    box-shadow: 14px 17px 8px 0 rgba(34, 60, 80, 0.2);
    border-radius:15px;

  }

  &__btn {
    margin: auto;
    box-shadow: 14px 17px 8px 0 rgba(34, 60, 80, 0.2);
  }
}
