/* Задає колір тексту для всіх елементів h1, h2, h3 на веб-сторінці */
h1, h2, h3 {
    color: gray;
}

/* Задає колір тексту для елементу з ідентифікатором main */
#main {
    color: #e60202;
}

/* Задає червоний колір тексту для елементів з класом h2 */
.h2 {
    color: red;
}

/* Задає зелений колір тексту для елементів з класом heading */
.heading {
    color: green;
}


/* Додає властивість font-weight: bold для прямих дочірніх елементів батьківського елемента ul */
ul > li {
    font-weight: bold;
}

/* Задає колір тексту indigo для першого елемента h2 всередині елемента section */
section > h2:first-of-type {
    color: indigo;
}

/* Застосовує властивість color: green до всіх посилань, що є нащадками елементів p з класом .first */
p.first a {
    color: green;
}

/* Стилізує посилання з властивістю color: green, що розташовані всередині будь-якого тегу з класом .first, що є нащадком елементу p */
p.first .first a {
    color: green;
}

/* Застосовує стиль color: salmon для всіх елементів p, що стоять після елемента div */
div + p {
    color: salmon;
}

/*
Шістнадцятковий код:

Black: #000000
Blue: #0000FF
Green: #00FF00
Red: #FF0000
White: #FFFFFF
Yellow: #FFFF00


Функція RGB:

Black: rgb(0, 0, 0)
Blue: rgb(0, 0, 255)
Green: rgb(0, 255, 0)
Red: rgb(255, 0, 0)
White: rgb(255, 255, 255)
Yellow: rgb(255, 255, 0)


Відсотки (використовуються для значень RGB від 0 до 100%):

Black: rgb(0%, 0%, 0%)
Blue: rgb(0%, 0%, 100%)
Green: rgb(0%, 100%, 0%)
Red: rgb(100%, 0%, 0%)
White: rgb(100%, 100%, 100%)
Yellow: rgb(100%, 100%, 0%)


Альфа-канал (задається в діапазоні від 0 до 1, де 0 - повна прозорість, 1 - повна непрозорість):

Black з 50% прозорістю: rgba(0, 0, 0, 0.5)
Blue з 50% прозорістю: rgba(0, 0, 255, 0.5)
Green з 50% прозорістю: rgba(0, 255, 0, 0.5)
Red з 50% прозорістю: rgba(255, 0, 0, 0.5)
White з 50% прозорістю: rgba(255, 255, 255, 0.5)
Yellow з 50% прозорістю: rgba(255, 255, 0, 0.5) 
*/


/* Фон напівпрозорого колір, заданий у форматі HSLA */
.translucent-box {
    width: 200px;
    height: 200px;
    background-color: hsla(0, 100%, 50%, 0.5); 
}

/* Базовий розмір шрифта для кореневого елемента */
html {
    font-size: 100%; /* 1 rem = 100% */
}

/* Розмір шрифта для body, успадкований від кореневого елемента, збільшений на 40 відсотків */
body {
    font-size: 140%; /* 1.4 rem = 140% of 1 rem */
}

/* Розмір шрифта для h1, успадкований від кореневого елемента, збільшений на 140 відсотків */
h1 {
    font-size: 240%; /* 2.4 rem = 240% of 1 rem */
}

