.task-seven > div {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
  }

  #example1 {
    background-clip: border-box;
  }
  
  #example2 {
    background-clip: padding-box;
  }
  
  #example3 {
    background-clip: content-box;
  }

h1 {
    display: inline-block;

    /* Ширина елемента буде мінімальною для вміщення контенту */
    inline-size: min-content; 

}
