.task-seven > div {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
  }

  #example1 {
    background-clip: border-box;
  }
  
  #example2 {
    background-clip: padding-box;
  }
  
  #example3 {
    background-clip: content-box;
  }

  h1 {
    display: inline-block;

    /* Максимальна ширина, яка займатиме доступний простір */
    max-width: 100%; 

    /* Автоматичний перенос слів на новий рядок */
    word-wrap: break-word; 
  }